[Unit]
Description=uWSGI instance to serve azure-container-playground
After=network.target

[Service]
User=sammy
Group=www-data
WorkingDirectory=/home/apps/flask-playground
Environment="PATH=/home/apps/flask-playground/venv/bin"
ExecStart=/home/apps/flask-playground/venv/bin/uwsgi --ini app.ini

[Install]
WantedBy=multi-user.target